<!--app-diretiva-ngif></app-diretiva-ngif-->
<!--app-ngswitch></app-ngswitch-->
<!--app-ngfor></app-ngfor-->
<!--app-diretiva-ng-class></app-diretiva-ng-class-->
<!--app-diretiva-ng-style></app-diretiva-ng-style-->
<!--app-operdor-elvis></app-operdor-elvis-->
<!--app-exemplo-content>
    Conteudo passado para o componente
    <app-operdor-elvis></app-operdor-elvis>
</app-exemplo-content-->

<!--app-exemplo-content>
    <div class="titulo">Titulo do Painel</div>
    <div class="corpo">
        Conteudo passado para o componente
    </div>
    <div class="corpo">
        Conteudo passado para o componente 2
    </div>
</app-exemplo-content-->

<!--app-diretiva-customizdas></app-diretiva-customizdas-->

<app-cursos></app-cursos>
